body {
    color: #5D6063;
    background-color: #E9E6E6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
    padding: 50px;
    border-radius: 5px;
    
}

.account-login {
    padding: 30px;
}
    


label {
    font-size: 11px;
    padding: 30px 0px 10px 0px;

}

.forgot {
    font-size: 10px;
    text-align: right;
    padding: 0;
}

button {
    background-color: #353535;
    padding: 20px;
    width: 100px;
    border-radius: 30px;
    border: 0;
    color: azure;
}

input[type=text]:focus {
  border: 1px solid darkgreen;
}

input[type=password]:focus {
    border: 1px solid darkgreen;
}

input[type=password]{
    background: url(eye2.png) no-repeat;
    background-size: 5%;
    background-position: 285px 15px;

}


input {
  height: 50px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #F1F1F1;
}




