
@model datapleasework.Models.Assignee

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   
    <title></title>

</head>
<body class="container">
    <h2>Add new Assigne</h2>
    <form action="/AddAssignee" method="post">

        <div><label for="Name">name</label></div>
        <div><input name="Name" type="text" /></div>


        <div><button type="submit" value="submit">Submit</button></div>
    </form>
</body>
</html>
