<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container clearfix" >
            <a href="/info">
                <img src="/greenfoxlogo.png" alt="logo" class="logo">
            </a>

            <nav>
                <ul>
                    <li><a href='/login'>Login</a></li>
                    <li><a href='/create'>Create</a></li>
                    <li><a href='/nutrition' th:if="${foxTest}">Food</a></li>
                    <li><a href='/learn' th:if="${foxTest}">Trick Center</a></li>
                    <li><a href='/info' th:if="${foxTest}" th:text="${foxName}"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="box">
        <img th:src="${color}" alt="logo" class="logo">
        <p th:text="${text}"></p>

        <h2>Fullness: </h2><p th:text="${fulltext}"></p>

        <h1 th:text="${trickText} ? 'No tricks :(' : 'Tricks:'" ></h1>

        <ul>
            <li th:each="trick : ${tricks}"
                th:text="${trick}"></li>
        </ul>


    </div>
    
    
    
</body>
</html>

<!-- <img src="../static/greenfox.png" alt="logo" class="logo"> -->


