<!doctype html>
<html lang="en">
    <head>
        
        <title>Webshop</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        
    </head>

    <body>
        <div class="container">
            <header>
                    <p>My Shop</p>
            </header>
            <div class="links">
                <button>ONLY AVAILABLE</button>
                <button>CHEAPEST FIRST</button>
                <button>CONTAINS NIKE</button>
                <button>AVERAGE STOCK</button>
                <button>MOST EXPENSIVE AVAILABLE</button>
            </div>
            
            <div class="searching">
                <label for='toSearch'>Search for:</label>
                <div class="searchBar">
                    <input id='toSearch' name='toSearch' type='text' placeholder="...something like Nike" autofocus/>
                <button>Search</button>
                </div>
                
            </div>
        
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity of Stock</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                    </tr>

                </tbody>
            </table>
        </div>
          
    </body>
    
</html>