body{
    margin: 0;
    background-color: #5089D5;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 100px;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 400px;
}

table {
    border-radius:6px;
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.53);
}

table th, table td {
    text-align: left;
    border-color: #C1C1C1;
    border: 2px solid #C1C1C1;
    padding-left: 15px;
    margin: 0px;
}



th {
    color: aliceblue;
    height: 50px;
    background-color: #3E3E3E;
    font-size: 18px;
    
}

tr th {
    border-bottom: 4px solid #ccc;
}
    
tr {
    color: #5F5F5F;
    height: 40px;
    background-color: #F0F0F0;
    font-size: 16px;
}