<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h1>Todos for today:</h1>
    <a href="/add">Add new todos</a>
    <p th:if="${todos.size()} == 0 ">no tasks for today</p>
    <div th:unless="${todos.size()} == 0 ">
        <table class="paleBlueRows">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Urgency</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}" th:if="${todo.isDone()} == ${active}" >
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.title}"></td>
                    <td th:text="${todo.urgent} ? 'urgent' : 'not urgent'" ></td>
                    <td th:text="${todo.done} ? 'done' : 'todo'" ></td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

